
<div *ngIf="book">
  <h2>{{ book.title }}</h2>
  <div class="form-group">
    <label for="">Title:</label>
    <input [(ngModel)]="book.title" placeholder="Title" />
  </div>
  <div class="form-group">
    <label for="">Description:</label>
    <input [(ngModel)]="book.description" placeholder="Description" />
  </div>
  <div class="form-group">
    <label>Genre:</label>
    <input [(ngModel)]="book.genre" type="number" placeholder="Genre" />
  </div>
  <div class="form-group">
   <label for="">Publisher:</label>
    <input [(ngModel)]="book.publisher" placeholder="Publisher" />
  </div>
  <div class="form-group">
   <label for="">Rating:</label>
    <input [(ngModel)]="book.rating" type="number" placeholder="Rating" />
  </div>
  <div class="form-group">
    <label for="">Release Date:</label>
    <input [(ngModel)]="book.releaseDate" type="date" placeholder="Release Date" />
  </div>
  <div class="form-group">
    <label for="">AuthorId:</label>
    <input [(ngModel)]="book.authorId" type="number" placeholder="AuthorId" />
  </div>
  <button class="btn btn-save" (click)="updateBook(book)" *ngIf="book.id">Save</button>
  <button class="btn btn-delete" (click)="deleteBook(book)" *ngIf="book.id">Delete</button>
  <button class="btn btn-create" (click)="createBook(book)" *ngIf="!book.id">Create</button>
</div>